<div ng-if="displayingProgressModal" class="modal-backdrop" ng-class="{'modal-backdrop-slide-up' : slideModalUp, 'modal-backdrop-slide-down' : !slideModalUp}">
	<button type="button"class="button close-button" ng-click="hideProgressModal()">X</button>
	<br/>
	<div>
		<canvas id="lineCanvas"></canvas>
	</div>
</div>


<div class="card-content">
	<div ng-if="noCompletedSessions" class="card-body card-progress">Complete your first quiz or quest to see your progress history.</div>
	<div ng-if="!noCompletedSessions" class="card-body card-progress">
		<div id="display-modal-text">
			<button type="button" class="button button-royal" ng-click="displayProgressModal()">View Line Graph of Progress</button>
		</div>
		<ion-scroll>
			<ion-list ng-repeat="dataPoint in dashboardDataPoints">
				<ion-item ng-class="datapoint-card-container">
					<div class="datapoint-card-left">{{dataPoint.sessionDescription}}<br/>{{dataPoint.date | date:"EEE MMM d, yyyy"}}</div>
					<div class="datapoint-card-right">{{dataPoint.performanceString}}<br/>{{dataPoint.durationString}}</div>
				</ion-item>
			</ion-list>
		</ion-scroll>
	</div>
</div>
