.badge-container {
  position: absolute;
  top: 0;
  left: 0;
  height: $row-h * 1.25;
  width: $col-w * 5;
  //border: 1px solid red;
  z-index: 20;
}

.badge {
  position: absolute;
  display: block;
  position: relative;
  padding-left: $col-w;
  //padding-top: 20px;
  width: $col-w * 5;
  height: $row-h * 1.25;
  height: 100%;
  font-size: 2em;

  left: (($col-w * 5)*(-1));
  transition: left 0.2s;
  transition-timing-function: ease-in;

  &.newRecord {
    position: absolute;
    top: 0;
    z-index: 90;
  }
  &.onARoll {
    position: absolute;
    top: 0;
    z-index: 95;
  }

  &.showBadge {
    left: 0;
  }
}