.badge-container {
  position: absolute;
  display:flex;
  top: 0;
  left: 0;
  height: $row-h * 1.25;
  width: $col-w * 5;
  //border: 1px solid red;
  z-index: 20;
}

.badge {
  display: block;
  position: relative;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: $col-w;
  //padding-top: 20px;
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: red;
  z-index: 99;
  //border: 1px solid green;
}
