.qtDialog-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  top: $row-h;
  left: $col-w * 4;
  height: $row-h * 4;
  width: $col-w * 5;
  background-color: $white;
  z-index: 50;
  // same as profiles card
  border-radius: 10px;
  box-shadow:2px 2px 4px rgba(0,0,0,0.25);
}

.dia-head {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: $row-h;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-weight: $bold;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 51;

  .title {
    position: relative;
    display: flex;
    font-size: 2rem;
    background-color:  #4ec7d7;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    color: white;
    height: 50%;
    width: 100%;
    z-index: 51;
  }
  .subtitle {
    position: relative;
    display: flex;
    font-size: 1.5rem;
    color: $c-text-main;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-bottom: 0.25em;
    z-index: 51;

    i {
      color: $c-gold-500;
      font-size: 1rem;
      margin: 0 1em;
    }

  }
}

// base class for bg images &
// layout class for content
.dia-body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: $row-h * 2;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: $bold;
  // border: 1px solid red;

  .imgLayout {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 51;
  }

  .contentLayout {
    position: relative;
    display: flex;
    z-index: 52;

    .achievementCount {
      font-size: 4rem;
      font-weight: 200;
      color: #A07E4D;

    }
    .progSum { font-size: 1.5em; }
    .note {
      padding: 0 ($col-w /2);
      padding-bottom: $row-h/5;
      text-align: left;
      font-size: 1.5em;
    }
  } // contentLayout
} // end .dia-body

// Images ----------------------------
.hsib { background-image: url('../img/practDir/cards/hsib.svg'); }
.mgib { background-image: url('../img/practDir/cards/mgib.svg'); }
.hsiq { background-image: url('../img/practDir/cards/hsiq.svg'); }
.mgiq { background-image: url('../img/practDir/cards/mgiq.svg'); }
.streak { background-image: url('../img/practDir/cards/streak.svg'); }
.perfectBlock { background-image: url('../img/practDir/cards/perfectBlock.svg'); }



// FOOTER ================================
.dia-foot {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: $row-h;
  width: 100%;
  padding: 0 1em;
  background-color: #3d6d84;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .footBtn {
    display: flex;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: #4ec7d7;
    color: white;
    padding: 1em;
    min-width: 175px;
    height: 64px;
    border-radius: 2em;
  }
}
