<div class="badge-container"
  ng-if="qtBadgesDebug">

  <div class="badge questNewRec"
    ng-if="badges.flags.questNewRecord">
    Quest New Record
  </div>

  <div class="badge blockNewRec"
    ng-if="badges.flags.blockNewRecord">
    Block New Record
  </div>

  <div class="badge onARoll"
    ng-if="badges.flags.onARoll">
    On a Roll
  </div>

  <!--
  <div class="badge perfectBlock"
    ng-if="badges.perfectBlock">
    Perfect Block!
  </div>

  <div class="badge incrDiff"
    ng-if="badges.incrDiff">
    Increasing Difficulty
  </div>
  -->

</div> <!-- end badge-container -->
