<div class="qtDialog-container">
  <div class="dia-head">

    <div ng-if="badges.qtDialogTemplate.achievement">
        <div class="subtitle">
            <i class="icon ion-star"></i>
            New Record!
            <i class="icon ion-star"></i>
          </div>
    </div>

    <div ng-if="badges.qtDialogTemplate.progSum">
        <div class="subtitle">
            {{badges.endBlockDisplay.subtitle}}
        </div>
    </div>

    <div class="title">
        {{badges.endBlockDisplay.title}}
    </div>
  </div>
  <!-- end of .dia-head -->

  <div class="dia-body">

    <div ng-if="badges.qtDialogTemplate.achievement"
        class="achievementCount">
        {{badges.endBlockDisplay.count}}
    </div>

    <div ng-if="badges.qtDialogTemplate.note"
        class="note">
        {{badges.endBlockDisplay.bodyText}}
    </div>

    <div ng-if="badges.qtDialogTemplate.progSum"
        class="progSum">
        <p>Gold: {{badges.endBlockDisplay.gold}}</p>
        <p>Silver: {{badges.endBlockDisplay.silver}}</p>
        <p>Bronze: {{badges.endBlockDisplay.bronze}}</p>
    </div>

  </div>
  <!-- end of .dia-body -->


  <div class="dia-foot">
    <div class="footBtn"
    ng-if="!badges.qtDialogTemplate.progSum"
      ng-click="{{badges.endBlockDisplay.btnFn}}">
      {{badges.endBlockDisplay.btnText}}
    </div>

    <div class="footBtn"
      ng-if="badges.qtDialogTemplate.progSum"
      ng-click="dialogResume()">
    {{badges.endBlockDisplay.btnText}}
  </div>

  </div>
  <!-- end of .dia-foot -->

</div>
