<div class="qtDialog-container">
  <div class="dia-head">
    <div class="banner">New Record!</div>
    <div class="title">
        Name of Milestone
    </div>
  </div>

  <div class="dia-body">

  </div>

  <div class="dia-foot">
    <div class="footBtn"
      ng-if="badges.qtDialog.isBlockEnd && !badges.qtDialog.isBreak"
      ng-click="dialogNext()">
      Next
    </div>
    <div class="footBtn"
      ng-if="badges.qtDialog.isBlockEnd && badges.qtDialog.isBreak"
      ng-click="dialogResume()">
      Resume Quest
    </div>
    <div class="footBtn"
      ng-if="badges.qtDialog.isQuestEnd && !badges.qtDialog.isFinalScore"
      ng-click="dialogNext()">
      Next
    </div>
    <div class="footBtn"
      ng-if="badges.qtDialog.isQuestEnd && badges.qtDialog.isFinalScore"
      ng-click="dialogClose()">
      Close
    </div>
  </div>
</div>
