.practice-directive-container {
  height: 100%;
  width: 100%;
  //border: 1px solid lime;
}

// TOOLBAR ------------------------------------
// see common-styles/toolbar

// WORD PROMPT ------------------------------------
 .promptBox-layout {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: $row-h;
  height: $row-h;
  width: 100%;
  padding-left: $col-w * 3;
  padding-right: $col-w * 2;


   .promptBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: $row-h;
    width: 100%;

    border-bottom: 1px solid white;
  }
}

 .words-word {
  font-size: 5em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: $c-text-main;
  // border: 1px solid red;

  &.small {
    font-size: 3.75em;
  }

  &.tiny {
    font-size: 2.5em;
  }
}

// number above the word prompt
.countIndicator-container {
  position: absolute;;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: $col-w * 3;
  height: $row-h * 0.5;
  left: $col-w * 5;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: ease-in;
  z-index: 5;

  &.counter_fade-in {
    opacity: 1;
  }
  &.counter_fade-out {
    opacity: 0;
  }
}

.countIndicator {
  color: $c-text-subtle;
}



// RATING BUTTONS ------------------------------------
.rateBtn-container {
  position:absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  top: $row-h;
  left: $col-w * 10;
  height: $row-h * 2;
  width: $col-w * 2;
  transition: left 0.4s;
  transition-timing-function: ease-in;

  &.rateBtnSlideOut {
    left: $col-w * 12;
  }

  button.rateBtn {
    display: flex;
    width: 100%;
    height: $row-h * 0.64;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    user-select: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    z-index: 50;
    //border: 1px solid green;

    .rateBtn-textbox {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      width: 76px;
      height: 49px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding: 0 8px;
      font-family: 'Quicksand', sans-serif;
      font-size: 0.9em;
      font-weight: 700;
      line-height: 1.2em;
      color: white;
      //border: 1px solid red;
    } //.rateBtn-textbox
  } // .rateBtn

  button.rate-gold {
    background-image: url("../img/rateBtns/rate-gold--off.svg");
    background-repeat: no-repeat;
    background-position: right center;

    &:active {
      background-image: url("../img/rateBtns/rate-gold--on.svg");
    }
    .rateBtn-textbox {
      background-color: #ffc95f;
    }
  }

  button.rate-silver {
    background-image: url("../img/rateBtns/rate-silver--off.svg");
    background-repeat: no-repeat;
    background-position: right center;
    &:active {
      background-image: url("../img/rateBtns/rate-silver--on.svg");
    }
    .rateBtn-textbox {
      background-color: #f0f9fc;
      color: #408BA2;
    }
  }

   button.rate-bronze {
    background-image: url("../img/rateBtns/rate-bronze--off.svg");
    background-repeat: no-repeat;
    background-position: right center;
    &:active {
      background-image: url("../img/rateBtns/rate-bronze--on.svg");
    }
    .rateBtn-textbox {
      background-color: #efbd88;
    }
   }
} // .rateBtn-container


// LPC DIRECTIVE: Wave & Rating Btns -------------------------
.lpcDir-layout_quiz-quest {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  //border: 1px solid blue;

  lpc-directive { //styled in lpc-directive
    div.lpc-contentBox { // styled in lpc-directive
      // contains both wave and rateBtns only

      div#lpc-canvas-parentSize {
        position: relative;
        width: 100%;
        height: $row-h * 4;
        top: $row-h;
        //border: 1px solid blue;
      } // #lpc-canvas-parentSize

    } // .lpc-contentBox
  } // lpc-directive
} // .lpcDir-layout_quiz-quest


// PARTIALS -----------------------------
@import 'partials/quest/qtDebug';
@import 'partials/quest/coinRow';
@import 'partials/quiz/quizCounters';
@import 'partials/quest/qtDialogs';
@import 'partials/quest/sandbank';
@import 'partials/quest/badges';
