.words-contentBox { // parent ele (is this still in use?)
		//border: 1px solid red;
}

.practice-directive-container {
  height: 100%;
  width: 100%;
  //border: 1px solid lime;
}

// TOOLBAR ------------------------------------
// see common-styles/toolbar

// WORD PROMPT ------------------------------------
 .promptBox-layout {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: $row-h;
  height: $row-h;
  width: 100%;
  padding-left: $col-w * 3;
  padding-right: $col-w * 2;


   .promptBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: $row-h;
    width: 100%;

    border-bottom: 1px solid white;
  }
}

 .words-word {
  font-size: 5em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: $c-text-main;
  // border: 1px solid red;

  &.small {
    font-size: 3.75em;
  }

  &.tiny {
    font-size: 2.5em;
  }
}
 .words-progress-indicator {
	display: inline-block;
	vertical-align: middle;
  //color: $c-text-main;
  color: $c-text-subtle;
	//border: 1px solid red;
}


// LPC DIRECTIVE: Wave & Rating Btns -------------------------
.lpcDir-layout_quiz-quest {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  //border: 1px solid blue;

  lpc-directive { //styled in lpc-directive
    div.lpc-contentBox { // styled in lpc-directive
      // contains both wave and rateBtns only

      div#lpc-canvas-parentSize {
        position: relative;
        width: 100%;
        height: $row-h * 4;
        top: $row-h;
        //border: 1px solid blue;
      } // #lpc-canvas-parentSize

    } // .lpc-contentBox
  } // lpc-directive
} // .lpcDir-layout_quiz-quest

// PARTIALS -----------------------------
@import 'partials/quest/qtDebug';
@import 'partials/quest/qtDialogs';
@import 'partials/quest/coinRow';
@import 'partials/quest/sandbank';
@import 'partials/quiz/quizCounters';
