<div class="words-contentBox practice-directive-container">

  <div class="acctLabel-container">
    <div class="user-text">{{participant_name}}</div>
  </div>

  <!-- BADGES ------------------------------- -->
  <div ng-if="isPracticing && !probe">
    <div class="badge-container" ng-if="qtBadgesDebug">
      <div class="badge" ng-if="badges.newRecord.visible"
        ng-include=" './img/practDir/badge_newRec.svg' ">
      </div>

      <div class="badge" ng-if="badges.onARoll.visible"
        ng-include=" './img/practDir/badge_conseq.svg' ">
      </div>
    </div> <!-- end badge-container -->
  </div>


  <!-- TOOLBAR ------------------------------- -->

  <!-- Toolbar, as designed -->
  <!--
  <div class="toolbar-container">
      <div class="toolbar-tab" ng-repeat="tab in toolbar"
      on-tap={{tab.action}}>
        <div class="tbTab-icon l-ico-cTextSubtle"
          ng-include="tab.icon"></div>
        <div class="tbTab-txt">{{tab.title}}</div>
      </div>
  </div>
  -->


  <div class="acctLabel-container">
    <div class="user-text">{{participant_name}}</div>
    <div class="user-text" ng-if="session_number">Research Session # {{session_number}}</div>
  </div>


  <!-- Temp 'Stop Session' Button
      (will be replaced by toolbar in the future) -->
      <!--  ng-hide="sandbank" ng-show="!sandbank" -->
  <div class="toolbar-container"
    ng-class="{'tbSlideOut': sandbank}"
  >
    <div class="toolbar-tab-long"
      on-tap="tbStop()">
        <div class="tbTab-txt_temp">Stop<br/>{{probe ? "Quiz" : "Quest"}}</div>
        <div class="tbTab-icon_temp l-ico-cTextSubtle"
          ng-include=" './img/icons/line/anchor.svg' ">
        </div>
    </div>
  </div>


<!-- (what is this? #sjt) --------------------------- -->
  <button style="margin:40px;"
    on-tap="beginWordPractice()"
    ng-hide="suppressStartButton || isPracticing || !hasValidWordList">
    Start {{type}} {{probe ? "probe" : "practice"}}
  </button>

  <button style="margin:40px;" on-tap="nextWord()" ng-hide="!isPracticing" ng-if="false">
    Next {{type}}
  </button>


  <!-- SCORING DEBUGGER ----------------------------- -->
  <div class="qtdebug-container"
  ng-if="isPracticing && !probe"
  ng-include=" './common-components/practice-directive/partials/quest/qtDebug.html' ">
    <!-- DELETE AFTER TESTING SCORING SCRIPTS -->
  </div> <!-- end .profiles-layout_drawer-left -->

  <!-- PROMPT BOX ------------------------------- -->
  <div class="countIndicator-container"
    ng-class="{'counter_fade-in': sandbank, 'counter_fade-out': !sandbank }">
    <p class="countIndicator"> {{currentWordIdx + 1}} of {{count}} </p>
  </div>


  <div class="promptBox-layout" ng-hide="!isPracticing">
    <div class="promptBox">
      <p class="countIndicator"> {{currentWordIdx + 1}} of {{count}} </p>
      <p ng-class="{
        'words-word': true,
        'small': smallFont,
        'tiny': tinyFont
      }">
        {{carrier_phrase.replace("___", currentWord)}}
      </p>

    </div>
  </div>

  <!-- QUIZ GRAPHICS ----------------------------- -->
  <div class="" ng-if="probe && isPracticing">

    <div class="qzCounters-layout"
      ng-if="type==='Syllable' && qzGraphicsMode">
    </div>

    <div class="qzCounters-layout"
      ng-if="type==='Word' && count < 40 && qzGraphicsMode"
      ng-include=" './common-components/practice-directive/partials/quiz/umbrellas-shortWordQuiz.html' ">
    </div>

    <div class="qzCounters-layout"
      ng-if="type==='Word' && count > 40 && qzGraphicsMode">
    </div>

    <div class="img-bg img-bg_qz--FG"></div>

  </div>

  <!-- RATING BUTTONS --------------- -->
  <div class="rateBtn-container"
    ng-class="{
      'rateBtnSlideOut': sandbank || scores.endOfBlock }">
    <button
      class="rateBtn rate-gold"
      on-tap="onRating(3)"
      ng-disabled="scores.endOfBlock">
        <span class="rateBtn-textbox">Great</span>
    </button>

    <button
      class="rateBtn rate-silver"
      on-tap="onRating(2)"
      ng-disabled="scores.endOfBlock">
        <span class="rateBtn-textbox">Good</span>
    </button>

    <button
      class="rateBtn rate-bronze"
      on-tap="onRating(1)"
      ng-disabled="scores.endOfBlock">
        <span class="rateBtn-textbox">Try Again</span>
    </button>
  </div>


<!-- LPC DIRECTIVE: Wave --------------- -->
  <div class="lpcDir-layout_quiz-quest">

    <lpc-directive
     probe="probe"
     slider="true"
     rate="isPracticing"
     reset="true"
     tutorial="false"
     type="type"
     wave-hidden="forceWaveHidden || isFeedbacking"
     hide-btn="true"
     beach="true">
    </lpc-directive>

  </div> <!-- end quest-lpcDir-layout -->



   <!-- COIN ROW (Quest)----------------------------- -->

   <div class="coin-row-layout" ng-if="!probe && isPracticing">
    <!-- a single stack of 10 coins with number and sandhole -->
    <div ng-repeat="stack in questCoins" class="stackBox">
      <div id=" {{ 'stack' + stack.id}}" class="stack"
        ng-include=" './common-components/practice-directive/partials/quest/coinstack.svg' ">
      </div>
      <div class="stackNum">{{stack.id + 1}}</div>
      <div class="stackHole img-sb_sandHole"></div>
    </div>
   </div>


   <!-- SCORE & SANDBANK ----------------------------- -->
   <div class="" ng-if="!probe && isPracticing"
   ng-include=" './common-components/practice-directive/partials/quest/sandbank.html' ">
   </div> <!-- end -->


   <!-- DIALOG BOX TEMPLATE ---------------------- -->
   <!-- dialog sequence templates go here -->
   <div class="" ng-if="!probe && isPracticing && badges.qtDialog.isVisible"
   ng-include=" './common-components/practice-directive/partials/quest/qtDialogs.html' ">
   </div> <!-- end -->


</div> <!-- end words-contentBox-->
